.bottomNav {
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  width: calc(100% - 24px);
  max-width: 452px;
  height: 62px;
  background: #000;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.bottomNavButton {
  width: 200px;
  height: 64px; 
  border: 0;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active {
  opacity: 1;
}